{% extends 'base.html' %}
{% block title %}bloghome{% endblock title %}
{% block body %}
<div class="container">
<h1 class="text-center mt-3" >Welcome to Our Blogs</h1>
{% for blog in blogs %}
<div class="callout my-3"> <a  class="text-dark" href="/blogpost/{{blog.slug}}"> <h2 class="my-2" >{{blog.title}}</h2> </a>
    <p>{{blog.content|slice:220}}...</p>
    <a  class="text-dark" href="/blogpost/{{blog.slug}}"><button type="button" class="btn btn-primary mx-3">Read More...</button></a></div>
    <br>
{% endfor %}
</div>
{% endblock body %}